{% extends 'layout/base.html' %} {% block content %} {% load static %}
{% block css %}

<!-- daterange picker -->
<link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %}"/>
<!-- dropzonejs -->
<link rel="stylesheet" href="{% static 'admin-lte/plugins/dropzone/min/dropzone.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin-lte/plugins/dropzone/min/basic.min.css' %}" />

<style>
  #cke_id_vi-des,
  #cke_id_en-des,
  .django-ckeditor-widget {
    width: 100% !important;
  }

  .dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

  input[type="file"] {
    display: none
  }
  [href="#vi-tab"]::after, [href="#en-tab"]::after {
    visibility: hidden;
    content: "!";
    color: red;
    padding: 0px 4px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    left: 0.5rem;
    bottom: 0.125rem;
  }
  .card-danger[href="#vi-tab"]::after, .card-danger[href="#en-tab"]::after {
    visibility: visible;
  }
  #images.red-border {
    border: 2px dashed red;
  }
  .red-line-border {
    border: 1px solid red;
  }
</style>

{% endblock css %}
<div class="container-fluid">
  <div class="row p-2">
    <div class="col"><h3>Cập nhật sản phẩm</h3></div>
    <div class="col"></div>
  </div>
  <div class="card card-primary card-outline">
    <div class="card-header"></div>
    <!-- /.card-header -->
    <div class="card-body">
      <form id="product-form">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col">
            <label for="product_category" class="col-form-label">Thể loại</label>
            <select class="form-control" id="product_category" name="product_category">
              {% for item in product_category%}
                  <option value="{{item.id}}" {% if item.id == product.product_category.id %}selected{% endif %}>{{item.name_vi}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col">
            <label for="cost" class="col-form-label">Giá</label>
            <input type="text" id="cost" name="cost" value="{{ product.cost }}" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="">Ảnh sản phẩm <span style="color:red; font-size: smaller;"> (*) Tối đa : 4 ảnh</span></label>
           <div id="images" class="fallback dropzone">
            <input name="number_files_hidden" type="hidden" />
            <input name="filename" type="file" multiple />
          </div>
          <span id="exampleInputEmail1-error" class="error invalid-feedback"
            >Lỗi</span
          >
        </div>
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="custom-tabs-four-home-tab"
                  data-toggle="pill"
                  href="#vi-tab"
                  role="tab"
                  aria-controls="custom-tabs-four-home"
                  aria-selected="true"
                  >Tiếng việt</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="custom-tabs-four-profile-tab"
                  data-toggle="pill"
                  href="#en-tab"
                  role="tab"
                  aria-controls="custom-tabs-four-profile"
                  aria-selected="false"
                  >Tiếng Anh</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
              <div
                class="tab-pane fade show active"
                id="vi-tab"
                role="tabpanel"
                aria-labelledby="custom-tabs-four-home-tab"
              >
                <div class="card-body">
                  <div class="form-group">
                    <label for="">Tên sản phẩm</label>
                    <input
                      type="text"
                      name="name_vi"
                      class="form-control"
                      value="{{ product.product_language_vi.name }}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Mô tả sản phẩm</label>
                    <div>{{ form_vi.media }} {{ form_vi }}</div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div
                class="tab-pane fade"
                id="en-tab"
                role="tabpanel"
                aria-labelledby="custom-tabs-four-profile-tab"
              >
                <div class="card-body">
                  <div class="form-group">
                    <label for="">Tên sản phẩm</label>
                    <input
                      name="name_en"
                      class="form-control"
                      value="{{ product.product_language_en.name }}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Mô tả sản phẩm</label>
                    <div>{{ form_en.media }} {{ form_en }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </form>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="float-right btn btn-primary submit-btn">
        Cập nhật sản phẩm
      </button>
    </div>
  </div>
</div>

{% endblock content %} {% block script %}
<!-- moment -->
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<!-- dropzonejs -->
<script src="{% static 'admin-lte/plugins/dropzone/min/dropzone.min.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- jquery-validation -->
<script src="{% static 'admin-lte/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src={% static 'admin-lte/plugins/jquery-validation/additional-methods.min.js' %}""></script>

<script>
    // datetimepicker
    $(document).ready(function () {
        $("#reservationtime").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
            format: "DD/MM/YYYY hh:mm:ss",
        },
        });
    });

    let imagesServer = {{ product_images | safe }}
    let images = new Set([...imagesServer])

    function formatNumber(str){
        str += '';
        x = str.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    function valueOfNumber(formattedNumber){
      let number = formattedNumber.replaceAll('.', '')
      number = number.replaceAll(',', '.')
      return parseFloat(number)
    }

    $('#cost').on('change', function (e){
      let number = valueOfNumber($(this).val())
      let formattedNumber = formatNumber(number)
      $(this).val(formattedNumber)
    })

    // dropzone
    let myDropzone = new Dropzone("#images", {
        url: "/vi/admin/uploads",
        headers: {
            "X-CSRFTOKEN": $("[name=csrfmiddlewaretoken]").val()
        },
        addRemoveLinks: true,
        maxFiles: 4,
        uploadMultiple: true,
        removedfile: function(file) {
            var _ref;
            if (file.dataURL) {
              let fileName = file.dataURL.split('/').slice(-2).join('/')
              images.delete(fileName)
            }
            if (images.size) {
              $('[name=number_files_hidden]').val(images.size);
            }
            else {
              $('[name=number_files_hidden]').val(null);
            }
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        success: function (file, response) {
          response.name.forEach(item => {if(images.size < 4) images.add(item)})
            file.previewElement.classList.add("dz-success");
            $('[name=number_files_hidden]').val(images.size);
            $('#product-form').valid();
        },
        error: function (file, response) {
            file.previewElement.classList.add("dz-error");
        },
        init: function () {
            let myDropzone = this;
            let fileCountOnServer = 2; // The number of files already uploaded
            $.each(imagesServer, function(index, value) {
              // If the images is already in the right size on your server:
              mockFile = { name: value, size: 12345, accepted: true};
              let callback = null; // Optional callback when it's done
              let crossOrigin = null; // Added to the `img` tag for crossOrigin handling
              let resizeThumbnail = true; // Tells Dropzone whether it should resize the image first
              myDropzone.files.push(mockFile);    // add to files array
              myDropzone.displayExistingFile(mockFile, `${window.location.origin}/media/${value}`, callback, crossOrigin, resizeThumbnail);
              //myDropzone.createThumbnailFromUrl(mockFile, 'http://127.0.0.1:8000/media/' + value)
              //myDropzone.emit("addedfile", mockFile);
              //myDropzone.emit("thumbnail", mockFile, 'http://127.0.0.1:8000/media/' + value);
              //myDropzone.emit("complete", mockFile);
            });
            $('[name="number_files_hidden"]').val(imagesServer.length)
        }
    });


    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
          $.each(CKEDITOR.instances, function (instance) {
              CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
              CKEDITOR.instances[instance].document.on("paste", CK_jQ);
              CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
              CKEDITOR.instances[instance].document.on("blur", CK_jQ);
              CKEDITOR.instances[instance].document.on("change", CK_jQ);
          });
      });
    function CK_jQ() {
      for (instance in CKEDITOR.instances) {
          CKEDITOR.instances[instance].updateElement();
      }
      // revalidate
      $('#product-form').valid();
    }

    // Validate on submit
    $("#product-form").validate({
      ignore: [],
      debug: false,
      rules: {
        "product_category": {
          required: true,
        },
        "name_vi": {
          required: true,
        },
        "name_en": {
          required: true,
        },
        "number_files_hidden":{
          required: true
        },
        "vi-des":{
          required: true
        },
        "en-des":{
          required: true
        },
        "cost":{
          required: true
        }
      },
      messages: {
        "product_category": {
          required: "Bắt buộc chọn danh mục sản phẩm",
        },
        "name_vi": {
          required: "Bắt buộc nhập tên sản phẩm",
        },
        "name_en": {
          required: "Bắt buộc nhập tên sản phẩm",
        },
        "en-des": {
          required: "Bắt buộc nhập mô tả sản phẩm (Tiếng Việt)",
        },
        "vi-des": {
          required: "Bắt buộc nhập mô tả sản phẩm (Tiếng Anh)",
        },
        "number_files_hidden": {
          required: "Bắt buộc nhập ảnh sản phẩm",
        },
        "cost":{
          required: "Bắt buộc nhập giá sản phẩm",
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
        if ($(element).attr("name") == 'name_vi') $('[href="#vi-tab"]').addClass("card-danger")
        if ($(element).attr("name") == 'name_en') $('[href="#en-tab"]').addClass("card-danger")
        if ($(element).attr("name") == 'number_files_hidden') $('#images').addClass("red-border")
        if ($(element).attr("name") == 'vi-des') $('#cke_id_vi-des').addClass("red-line-border")
        if ($(element).attr("name") == 'en-des') $('#cke_id_en-des').addClass("red-line-border")

      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
        if ($(element).attr("name") == 'name_vi') $('[href="#vi-tab"]').removeClass("card-danger")
        if ($(element).attr("name") == 'name_en') $('[href="#en-tab"]').removeClass("card-danger")
        if ($(element).attr("name") == 'number_files_hidden') $('#images').removeClass("red-border")
        if ($(element).attr("name") == 'vi-des') $('#cke_id_vi-des').removeClass("red-line-border")
        if ($(element).attr("name") == 'en-des') $('#cke_id_en-des').removeClass("red-line-border")
      },
      submitHandler: function(form) {
        // call ajax
        let data = getData();
        let url = `/${window.location.pathname.split('/')[1]}/admin/product/edit`;
        $.ajax({
          url,
          type: "POST",
          headers: {
            "X-CSRFTOKEN": $("[name=csrfmiddlewaretoken]").val()
          },
          dataType: 'json',
          processData: false,
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(data),
          success: function(data) {
            if (data.success) {
              window.location = `/${window.location.pathname.split('/')[1]}/admin/product`
            }
          }
        })
      }
    });

    function getData() {
      result = {}
      result['id'] = window.location.pathname.split('/').splice(-1, 1)[0]
      result['product_category'] = $('[name="product_category"]').val()
      result['images'] = [...images]
      result['name_vi'] = $('[name="name_vi"]').val()
      result['name_en'] = $('[name="name_en"]').val()
      result['cost'] = valueOfNumber($('[name="cost"]').val())
      result['en_des'] = CKEDITOR.instances['id_en-des'].getData()
      result['vi_des'] = CKEDITOR.instances['id_vi-des'].getData()
      return result;
    }

    // register event
    $('.submit-btn').click(function(){
      $('#product-form').submit();
    })

</script>
{% endblock script %}
